@model AdventurousContacts.Models.Contact
@{
    ViewBag.Title = "Skapa Kontakt";
}

<h2>Skapa Kontakt</h2>


@Html.Partial("_ContactForm")
@*<div>
    @"~/Views/Shared/_Layout.cshtml""~/Views/Shared/_Layout.cshtml"
</div>*@

<script src="~/Scripts/jquery-3.0.0.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
