
@model AdventurousContacts.Models.Contact
@{
    ViewBag.Title = "Redigera Kontakt";
}

<h2>Redigera Kontakt</h2>

@Html.Partial("_ContactForm")

@*<div>
    @"~/Views/Shared/_Layout.cshtml""~/Views/Shared/_Layout.cshtml"
</div>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}